
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>welcome to your profile {{request.user}}</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    
     <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{request.user}}</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'about' %}">about</a>
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                <a class="nav-link" href="{% url 'auth_logout' %}">logout</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">welcome to your profile {{user}}</h1>
            <p class="lead"> If you are seeing this then welcome to our website {{user}}.We wish you a very happy journey with us!</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="www.google.com">google</a>, by <a href="https://twitter.com">twitter!</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write(<script src="jquery-3.2.1.slim.min.js"> </script></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
